<section
  id="contacto"
  class="col-span-8 md:col-start-2 md:col-end-8 flex flex-col gap-8 px-12 pt-20 pb-10 md:px-0 fadeInFromBT"
>
  <h3 class="text-2xl font-bold">Contacto</h3>
  <form id="myForm" class="flex flex-col gap-4 font-semibold">
    <div class="flex flex-col gap-2">
      <label for="name">Nombre</label>
      <input
        class="bg-neutral-700 hover:bg-neutral-800 focus:outline-none px-2 py-1 text-sm"
        type="text"
        name="name"
        placeholder="Jorge Martinez"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="email">Email</label>
      <input
        class="bg-neutral-700 hover:bg-neutral-800 focus:outline-none px-2 py-1 text-sm"
        type="email"
        name="email"
        required
        placeholder="jorgeM@gmail.com"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="phone">Teléfono</label>
      <input
        class="bg-neutral-700 hover:bg-neutral-800 focus:outline-none px-2 py-1 text-sm"
        type="number"
        name="phone"
        placeholder="+54 9 11 1234 5678"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="message">Mensaje</label>
      <textarea
        class="bg-neutral-700 hover:bg-neutral-800 focus:outline-none px-2 py-1 text-sm"
        name="message"
        placeholder="Somos una empresa ubicada de Palermo, tenemos 50 envios semanales..."
      ></textarea>
    </div>
    <button
      type="submit"
      class="bg-tertiary-700 rounded-sm py-2 my-2 hover:bg-tertiary-800"
      >Enviar</button
    >
  </form>
</section>
<script>
  import emailjs from "@emailjs/browser";
  import Toastify from "toastify-js";
  import "toastify-js/src/toastify.css";

  const TEMPLATEID = "1512yibgf6456889";
  const SERVICEID = "service_transitus";
  const PUBLICKEY = "7mScyM0EVtsBE9tBs";
  const myForm = document.getElementById("myForm");

  myForm.addEventListener("submit", async function (e) {
    e.preventDefault();
    const formData = new FormData(myForm);
    const name = formData.get("name");
    const email = formData.get("email");
    const phone = formData.get("phone");
    const message = formData.get("message");

    try {
      await emailjs.send(
        SERVICEID,
        TEMPLATEID,
        {
          name: name,
          email: email,
          phone: phone,
          message: message,
        },
        PUBLICKEY
      );

      Toastify({
        text: "Recibimos tu mensaje!",
        duration: 3000,
        gravity: "top",
        position: "right",
        style: {
          background: "linear-gradient(to right, #7321ff, #007f63)",
          zIndex: 9999,
          minWidth: "max-content",
        },
      }).showToast();
      myForm.reset();
    } catch (error) {
      console.log(error);
      Toastify({
        text: "Estamos teniendo problemas, porfavor utiliza otro medio para contactarnos",
        duration: 3000,
        gravity: "top",
        position: "right",
        style: {
          background: "linear-gradient(to right, #00654f, #0C111F)",
          zIndex: 9999,
        },
      }).showToast();
      myForm.reset();
    }
  });
</script>
