---
import ArrowDown from "../../assets/icons/ArrowDown.astro";
import Logo from "../../assets/Logo.astro";
---

<section class="relative h-[100vh] first-mesh col-span-8">
  <div
    class="text-[4rem] font-bold h-full backdrop-blur-2xl grid grid-cols-4 px-10 gap-12 content-center"
  >
    <Logo w="300px" />
    <div class="col-span-4 flex flex-col gap-3">
      <h1 class="h1cl text-pretty text-4xl text-center">
        Solución logística integral
      </h1>
      <p class="text-pretty text-lg text-center text-neutral-300 font-semibold">
        Obtene una solucion a medida ahora
      </p>
    </div>
    <button
      class="bg-tertiary-600 text-neutral-950 col-span-4 py-2 px-2 text-xl rounded-lg w-full transition-colors duration-300 ease-in-out hover:bg-tertiary-700 tracking-wide"
    >
      Cotizar
    </button>
    <div class="absolute bottom-1 right-[45%] animate-bounce">
      <ArrowDown />
    </div>
  </div>
</section>
