---
import Distribucion from "../atoms/Distribucion.astro";
import Almacenamiento from "../atoms/Almacenamiento.astro";
---

<section
  id="about"
  class="relative w-full h-full flex flex-col px-12 py-16 col-span-8 gap-20 md:grid md:grid-cols-8 bg-darkbg-900"
>
  <Distribucion />
  <Almacenamiento />
</section>
<style></style>
