<section
  class="col-span-8 md:col-start-2 md:col-end-8 px-12 pb-20 md:px-0 flex flex-col gap-8 fadeIn overflow-hidden"
>
  <h3 class="text-2xl font-bold">
    Tu reputación es nuestra principal prioridad
  </h3>
  <div class="grid grid-cols-2 gap-x-6 gap-y-6 justify-center font-semibold">
    <p class="col-span-2 fadeInFromR text-neutral-300 text-pretty">
      Trabajamos incanzablemente para garantizar la entrega de tus productos y
      brindad una excepcional experiencia al cliente.
    </p>
    <div
      class="relative flex flex-wrap bg-primary-900 p-4 gap-2 rounded-lg scaleIn text-neutral-300 md:items-center min-w-fit max-w-60"
    >
      <div class="pulseEntity"></div>
      <span class="text-secondary-500 text-xl font-bold fadeIn">99,3%</span>
      ENTREGAS EN DESTINO
    </div>
    <div
      class="relative flex flex-wrap bg-primary-900 p-4 gap-2 rounded-lg scaleIn text-neutral-300 md:items-center min-w-fit max-w-60"
    >
      <div class="pulseEntity"></div>
      <span class="text-secondary-500 text-xl font-bold fadeIn">50+</span>
      CLIENTES SATISFECHOS
    </div>
  </div>
</section>
