<section class="px-6 flex flex-col gap-3">
  <h3 class="text-xl font-bold">Tu reputación es nuestra primer prioridad</h3>
  <div class="grid grid-cols-2 gap-2 justify-center">
    <p class="col-span-2">Trabajamos incanzablemente para garantizar la entrega de tus productos</p>
    <p class="flex flex-wrap">
      <span class="text-tertiary-600 text-xl">99,3%</span> 
      ENTREGAS EN DESTINO
    </p>
    <p class="flex flex-wrap">
      <span class="text-tertiary-600 text-xl">50+</span> 
      CLIENTES SATISFECHOS
    </p>		
  </div>	
</section>