<section class="px-6 flex flex-col gap-3">
  <h2 class="text-2xl font-bold">Software</h2>
  <p class="text-neutral-200 font-semibold">
    Tanto el cliente final como nuestras empresas clientes podrán hacer un seguimiento en tiempo real de sus envíos a través de nuestro sistema web o de la aplicación. Esta herramienta permite gestionar los envíos de forma eficiente, brindando la mejor experiencia de compra al cliente final. Con ella, podrás llevar un control desde la recepción de la mercancía hasta la entrega final, además de generar reportes y estadísticas para analizar el rendimiento de tu negocio y tomar decisiones informadas.
  </p>
</section>