---
import MapPin from '../../assets/icons/MapPin.astro'
import Storage from '../../assets/icons/Storage.astro'
import Software from '../../assets/icons/Software.astro'
import Motorcicle from '../../assets/icons/Motorcicle.astro'
import Cloud from '../../assets/icons/Cloud.astro'
---

<section class="flex flex-col gap-4 py-6 px-6">
  <div class="flex gap-3 items-center rounded-md py-2 px-2 w-fit">
    <MapPin svgColor="text-primary-800"/>
  </div>
  <div class="flex gap-3 items-center rounded-md py-2 px-2 w-fit">
    <Storage svgColor="text-primary-800"/>
  </div>
  <div class="flex gap-3 items-center rounded-md py-2 px-2 w-fit">
    <Motorcicle svgColor="text-primary-800"/>
  </div>
  <div class="flex gap-3 items-center rounded-md py-2 px-2 w-fit">
    <Software svgColor="text-primary-800"/>
  </div>
  <div class="flex gap-3 items-center rounded-md py-2 px-2 w-fit">
    <Cloud svgColor="text-primary-800"/>
  </div>
</section>