---
import Layout from "../layouts/Layout.astro";
import FirstView from "../components/sections/FirstView.astro";
import Contacto from "../components/sections/Contacto.astro";
import PQElegirnos from "../components/sections/PQElegirnos.astro";
import List from "../components/sections/List.astro";
import Software from "../components/sections/Software.astro";
import VentajasIcons from "../components/sections/VentajasIcons.astro";
import Reputacion from "../components/sections/Reputacion.astro";
---

<Layout title="Tranzitus">
  <main
    class="min-h-screen h-full col-span-8 grid grid-cols-8 gap-y-24 md:gap-y-36 pb-12"
  >
    <FirstView />
    <!-- <VentajasIcons /> -->
    <List />
    <Software />
    <Reputacion />
    <PQElegirnos />
    <Contacto />
  </main>
</Layout>

<!-- <p>
	Servicio de Atención al Seller 24Hs
	Sin Recargo por Lluvia
	Segunda Visita sin Cargo
	Seguro Contra Mercaderias en Transito
</p> -->
