---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Transitus">
	<div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 
	[background:radial-gradient(125%_125%_at_50%_35%,#000_40%,#ffb400_100%)]"></div>
  <main>
    <h1>PRECIOS ASTRO</h1>
  </main>
</Layout>