---
interface Props {
  currentPath: string;
}

const url = new URL(Astro.request.url);
const currentPath = url.pathname.slice(1);
import WhatsApp from "../assets/icons/WhatsApp.astro";
import Meta from "../assets/icons/Meta.astro";
import Instagram from "../assets/icons/Instagram.astro";
import Phone from "../assets/icons/Phone.astro";
import Mail from "../assets/icons/Mail.astro";
---

<footer
  class="col-span-8 md:grid md:grid-cols-8 w-full px-8 md:px-0 pt-8 pb-4 bg-darkbg-900 flex flex-wrap justify-between items-start gap-y-4"
>
  <section class="flex flex-col gap-4 md:col-start-2 md:col-end-5 md:flex-row">
    <div class="flex gap-2 leading-5">
      <Mail /><span>info@tranzitus.com</span>
    </div>
    <div class="flex gap-2 leading-5">
      <Phone /><span>+54 9 11 5108-6187</span>
    </div>
  </section>
  <section class="gap-4 flex md:col-start-5 md:col-end-8 md:justify-end">
    <a
      href="https://wa.me/5491151086187"
      class="hover:scale-110 transition-transform duration-300 ease-in-out"
      ><WhatsApp /></a
    >
    <a
      href="#"
      class="hover:scale-110 transition-transform duration-300 ease-in-out"
      ><Instagram /></a
    >
    <a
      href="#"
      class="hover:scale-110 transition-transform duration-300 ease-in-out"
      ><Meta /></a
    >
  </section>
  <span class="w-full text-center font-semibold md:col-span-8"
    >Copyright © 2024 Todos los derechos reservados por <span
      class="font-bold text-secondary-500">Tranzitus</span
    ></span
  >
</footer>
