---
import WhatsApp from "../assets/icons/WhatsApp.astro";
import Meta from "../assets/icons/Meta.astro";
import Instagram from "../assets/icons/Instagram.astro";
import Phone from "../assets/icons/Phone.astro";
import Mail from "../assets/icons/Mail.astro";
---

<footer
  class="col-span-8 md:grid md:grid-cols-8 w-full px-8 md:px-0 pt-8 pb-8 bg-darkbg-900 flex flex-wrap justify-between items-start gap-y-6"
>
  <section class="flex flex-col gap-4 md:col-start-2 md:col-end-6 md:flex-row">
    <div class="flex gap-2 leading-5">
      <Mail /><span>info@tranzitus.com</span>
    </div>
    <div class="flex gap-2 leading-5">
      <Phone /><span>+54 9 11 6021-8326</span>
    </div>
  </section>
  <section class="gap-4 flex md:col-start-6 md:col-end-8 md:justify-end">
    <a
      target="_blank"
      href="https://wa.me/5491160218326"
      class="hover:scale-110 transition-transform duration-300 ease-in-out"
      ><WhatsApp /></a
    >
    <a
      target="_blank"
      href="https://www.instagram.com/tranzitus_/"
      class="hover:scale-110 transition-transform duration-300 ease-in-out"
      ><Instagram /></a
    >
    <a
      target="_blank"
      href="https://www.facebook.com/profile.php?id=61560990837288"
      class="hover:scale-110 transition-transform duration-300 ease-in-out"
      ><Meta /></a
    >
  </section>
  <span class="w-full text-center font-semibold md:col-span-8"
    >Copyright © 2024 Todos los derechos reservados por <span
      class="font-bold text-secondary-500">Tranzitus</span
    ></span
  >
</footer>
