---
import Logo from "../assets/Logo.astro";
import PrimaryBTN from "./atoms/PrimaryBTN.astro";

interface Props {
  currentPath: string;
}

const url = new URL(Astro.request.url);
const currentPath = url.pathname.slice(1);
---

<header
  class="col-span-8 md:col-start-2 md:col-end-8 bg-darkbg-800 flex justify-between w-full py-4 text-neutral-50 px-4 md:px-0 fixed z-50"
>
  <Logo w="4.5em" />
  <nav class="w-full hidden md:flex justify-between items-center">
    <div class="flex justify-center">
      <a
        href="/"
        class={`hover:text-neutral-300 transition-colors duration-300 ease-in-out ${currentPath === "" ? "text-primary-500 hover:text-primary-500 transition-none cursor-default" : ""}`}
      >
        INICIO
      </a>
      <a
        href="sobre_nosotros"
        class={`hover:text-neutral-300 transition-colors duration-300 ease-in-out ${currentPath === "sobre_nosotros" ? "text-primary-500 hover:text-primary-500 transition-none cursor-default" : ""}`}
      >
        SOBRE NOSOTROS
      </a>
      <a
        href="precios"
        class={`hover:text-neutral-300 transition-colors duration-300 ease-in-out ${currentPath === "precios" ? "text-primary-500 hover:text-primary-500 transition-none cursor-default" : ""}`}
      >
        PRECIOS
      </a>
    </div>
    <PrimaryBTN title="OBTENE UNA COTIZACION" class="hidden md:block" />
  </nav>
  <button id="menu_BTN" class="rounded-xl min-w-max col-start-6 col-end-7">
    <svg
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>
</header>
<script>
  const menu_BTN = document.querySelector("#menu_BTN");
  menu_BTN.addEventListener("click", () => {
    const menu = document.querySelector("#menu");
    menu.classList.toggle("isHere");
  });
</script>
