---
import Logo from "../assets/Logo.astro";
import PrimaryBTN from "./atoms/PrimaryBTN.astro";

interface Props {
  currentPath: string;
}

const url = new URL(Astro.request.url);
const currentPath = url.pathname.slice(1);
---

<header
  class="col-span-8 bg-darkbg-800 flex justify-between w-full py-4 text-neutral-50 px-4 md:px-20 z-50"
>
  <div class="z-50">
    <Logo w="4.5em" />
  </div>
  <nav
    id="menu"
    class="w-full translate-x-full duration-500 ease-in-out top-0 left-0 flex fixed flex-col justify-center gap-20 items-center maskbg min-h-screen z-30 md:min-h-auto md:flex-row md:justify-around md:items-center text-2xl md:text-lg"
  >
    <a
      href="/"
      class={`hover:text-neutral-300 transition-colors duration-300 ease-in-out ${currentPath === "" ? "text-primary-500 hover:text-primary-500 transition-none cursor-default" : ""}`}
    >
      INICIO
    </a>
    <a
      href="#about"
      class={`hover:text-neutral-300 transition-colors duration-300 ease-in-out ${currentPath === "sobre_nosotros" ? "text-primary-500 hover:text-primary-500 transition-none cursor-default" : ""}`}
    >
      SOBRE NOSOTROS
    </a>
    <!-- <a
        href="precios"
        class={`hover:text-neutral-300 transition-colors duration-300 ease-in-out ${currentPath === "precios" ? "text-primary-500 hover:text-primary-500 transition-none cursor-default" : ""}`}
      >
        PRECIOS
      </a> -->
    <a
      href="#contacto"
      class={`hover:text-neutral-300 transition-colors duration-300 ease-in-out ${currentPath === "precios" ? "text-primary-500 hover:text-primary-500 transition-none cursor-default" : ""}`}
    >
      CONTACTO
    </a>
  </nav>
  <button
    id="menu_BTN"
    class="rounded-xl min-w-max col-start-6 col-end-7 md:hidden z-50"
  >
    <svg
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>
</header>
<style>
  .maskbg {
    backdrop-filter: blur(4px);
    background-color: rgba(14, 19, 36, 0.85);
  }
  .isHere {
    transform: translateX(0);
    /* animation: fromRight 1s ease-in-out 0s 1 forwards; */
  }
  @keyframes fromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
</style>
<script>
  const body = document.body;
  const menu_BTN = document.querySelector("#menu_BTN");
  const menu = document.querySelector("#menu");
  const menuLinks = document.querySelectorAll("#menu a");

  menu_BTN.addEventListener("click", () => {
    menu.classList.toggle("isHere");
    body.classList.toggle("no-scroll");
  });

  // Asegura que el menú se oculte al hacer clic en un enlace, pero permite que el enlace funcione normalmente
  menuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      menu.classList.remove("isHere");
      body.classList.remove("no-scroll");
    });
  });
</script>
