<div class="flex flex-col gap-3">
	<h3 class="text-xl font-bold">Almacenamiento</h3>
	<ul class="flex flex-col gap-2 font-semibold">
		<li><span class="text-secondary-600">•</span> Recepción de contenedores</li>
		<li><span class="text-secondary-600">•</span> Palletizado de mercadería</li>
		<li><span class="text-secondary-600">•</span> Almacenamiento en racks y estanterías livianas adecuados al tipo de mercadería</li>
		<li><span class="text-secondary-600">•</span> Acondicionamiento de mercadería</li>
		<li>Estampillado fiscal</li>
		<li><span class="text-secondary-600">•</span> Etiquetados de mercadería con códigos de barras, descripción de productos, etc.</li>
		<li><span class="text-secondary-600">•</span> Armados de packs promocionales</li>
		<li><span class="text-secondary-600">•</span> Almacenamiento en naves segregadas de mercancías peligrosas</li>
		<li><span class="text-secondary-600">•</span> Controles de inventarios sistemáticos e información permanente a nuestros clientes</li>
		<li><span class="text-secondary-600">•</span> Preparación de pedidos de la mercadería almacenada de nuestros clientes</li>
		<li><span class="text-secondary-600">•</span> Impresión de remitos y/o facturas de nuestros clientes para la distribución de sus pedidos</li>
	</ul>
</div>