---
import Box from "../../assets/icons/Box.astro";
---

<div
  class="md:col-start-5 md:col-end-8 flex flex-col gap-8 relative fadeInFromBT"
>
  <h3 class="text-2xl font-bold flex gap-2">
    <Box /> Almacenamiento
  </h3>
  <ul class="flex flex-col gap-4 font-semibold">
    <!-- <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Recepción de contenedores
    </li> -->
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Estampillado fiscal
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Impresión, Etiquetado de
      mercadería con códigos de barras, descripción de productos y registro en sistemas
      del paquete.
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Armados de packs promocionales
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Controles de inventarios
      sistemáticos e información permanente a nuestros clientes
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Preparación de pedidos de
      la mercadería almacenada de nuestros clientes
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Impresión de remitos y/o
      facturas de nuestros clientes para la distribución de sus pedidos
    </li>
  </ul>
</div>
