---
import Motorbike from "../../assets/icons/Motorbike.astro";
---

<div class="md:col-start-2 md:col-end-5 flex flex-col gap-8 fadeInFromBT">
  <h3 class="text-2xl font-bold flex gap-2"><Motorbike />Distribución</h3>
  <ul class="flex flex-col gap-4 font-semibold">
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Distribución en Capital
      Federal y Gran Buenos Aires
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Retiro de mercadería del
      depósito de nuestros clientes
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Consolidación de carga
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Unidades de distribución
      adecuadas para cada necesidad
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Distribución con unidades
      dedicadas exclusivas al servicio de nuestros clientes
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Entregas especializadas
      en Centros de Distribución de Supermercados, Droguerías, Comercios, Instituciones
      Médicas, Industrias y Domiciliarias
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Coordinación de turnos de
      retiro
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Coordinación de turnos de
      entrega
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Seguimiento de entregas
    </li>
    <li class="text-neutral-300 fadeIn">
      <span class="text-secondary-500 delay-75">•</span> Devolución de documentación
      conformada con la frecuencia y orden que requieren nuestros clientes
    </li>
  </ul>
</div>
