<div class="flex flex-col gap-3">
	<h3 class="text-xl font-bold">Distribución</h3>
	<ul class="flex flex-col gap-2 font-semibold">
		<li><span class="text-secondary-600">•</span> Distribución en Capital Federal, Gran Buenos Aires y Cordoba</li>
		<li><span class="text-secondary-600">•</span> Retiro de mercadería del depósito de nuestros clientes</li>
		<li><span class="text-secondary-600">•</span> Consolidación de carga</li>
		<li><span class="text-secondary-600">•</span> Unidades de distribución adecuadas para cada necesidad</li>
		<li><span class="text-secondary-600">•</span> Distribución con unidades dedicadas exclusivas al servicio de nuestros clientes</li>
		<li><span class="text-secondary-600">•</span> Entregas especializadas en Centros de Distribución de Supermercados, Droguerías, Comercios, Instituciones Médicas, Industrias y Domiciliarias</li>
		<li><span class="text-secondary-600">•</span> Transporte de cargas completas a todo el país</li>
		<li><span class="text-secondary-600">•</span> Coordinación de turnos de entrega</li>
		<li><span class="text-secondary-600">•</span> Seguimiento de entregas</li>
		<li><span class="text-secondary-600">•</span> Devolución de documentación conformada con la frecuencia y orden que requieren nuestros clientes</li>
	</ul>
</div>