---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "./styles.css";
import emailjs from "@emailjs/browser";
const PUBLICKEY = "7mScyM0EVtsBE9tBs";

emailjs.init({
  publicKey: PUBLICKEY,
  // Do not allow headless browsers
  blockHeadless: true,
  blockList: {
    // Block the suspended emails
    list: [],
    // The variable contains the email address
    watchVariable: "userEmail",
  },
  limitRate: {
    // Set the limit rate for the application
    id: "app",
    // Allow 1 request per 10s
    throttle: 10000,
  },
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-16586537563"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-16586537563");
    </script>
  </head>
  <body class="text-neutral-200 bg-darkbg-700 grid grid-cols-8">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    font-family: Roboto, ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  .no-scroll {
    overflow: hidden;
  }
  .bg-glow {
    background-color: hsla(223, 49%, 8%, 1);
    background-image: radial-gradient(
        at 44% 68%,
        hsl(157, 100%, 29%) 0px,
        transparent 50%
      ),
      radial-gradient(at 79% 39%, hsla(289, 100%, 56%, 1) 0px, transparent 50%);
  }
  .triangulo {
    clip-path: polygon(100% 100%, 0 0, 100% 0);
  }
  .clinado {
    clip-path: polygon(0 0, 100% 0, 100% 11%, 0 20%);
  }
</style>
