---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "./styles.css";
import emailjs from "@emailjs/browser";
const PUBLICKEY = "7mScyM0EVtsBE9tBs";

emailjs.init({
  publicKey: PUBLICKEY,
  // Do not allow headless browsers
  blockHeadless: true,
  blockList: {
    // Block the suspended emails
    list: [],
    // The variable contains the email address
    watchVariable: "userEmail",
  },
  limitRate: {
    // Set the limit rate for the application
    id: "app",
    // Allow 1 request per 10s
    throttle: 10000,
  },
});
const title = "Tranzitus | Logística CABA y GBA";
const description =
  "Mejorá tu logística en Argentina con Tranzitus. Ofrecemos soluciones logísticas integrales, incluyendo transporte rápido y seguro, seguimiento en tiempo real y servicios personalizados. Optimiza tus envíos con nosotros y reduce costos mientras aumentas la satisfacción de tus clientes. Contactanos para más información y transformá tu logística hoy.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/logo.png" />
  </head>
  <body class="text-neutral-200 bg-darkbg-700 grid grid-cols-8">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    font-family: Roboto, ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  body {
    overflow-x: hidden;
  }
  .no-scroll {
    overflow: hidden;
  }
  .bg-glow {
    background-color: hsla(223, 49%, 8%, 1);
    background-image: radial-gradient(
        at 44% 68%,
        hsl(157, 100%, 29%) 0px,
        transparent 50%
      ),
      radial-gradient(at 79% 39%, hsla(289, 100%, 56%, 1) 0px, transparent 50%);
  }
  .triangulo {
    clip-path: polygon(100% 100%, 0 0, 100% 0);
  }
  .clinado {
    clip-path: polygon(0 0, 100% 0, 100% 11%, 0 20%);
  }
</style>
